* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Bangers, cursive;
}

header {
  height: 100px;
}

h1 {
  margin: 10px;
  padding: 20px;
}

p {
  display: inline-block;
}

div {
  margin: 10px;
}

button {
  width: 50px;
  height: 25px;
  border-style: none;
  margin-left: 10px;
  margin-right: 10px;
}

#text-input {
  height: 15px;
  width: 270px;
}

#meme-image-container {
  margin: 10px auto;
  width: 450px;
  height: 300px;
  border: 1px solid black;
  background-color: white;
  background-size: cover;
  position: relative;
  z-index: 1;
}

#meme-text {
  font-size: 30px;
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 5px 5px 5px black;
  color: white;
}

#meme-image {
  position: relative;
  z-index: 2;
}

#fire {
  background-color: red;
}

#water {
  background-color: blue;
}

#earth {
  background-color: green;
}

#meme-1 {
  width: 100px;
  height: 80px;
  border: 1px solid black;
  display: inline-block;
  background-image: url('/imgs/meme1.png');
  background-size: cover;
}

#meme-2 {
  width: 100px;
  height: 80px;
  border: 1px solid black;
  display: inline-block;
  background-image: url('/imgs/meme2.png');
  background-size: cover;
}

#meme-3 {
  width: 100px;
  height: 80px;
  border: 1px solid black;
  display: inline-block;
  background-image: url('/imgs/meme3.png');
  background-size: cover;
}

#meme-4 {
  width: 100px;
  height: 80px;
  border: 1px solid black;
  display: inline-block;
  background-image: url('/imgs/meme4.png');
  background-size: cover;
}
