* {
  margin: 0;
  padding: 0;
}

#meme-image-container {
  margin-top: 10px;
  width: 450px;
  height: 300px;
  border: 1px solid black;
  background-color: white;
  background-size: cover;
  position: absolute;
  z-index: 1;
}

#meme-text {
  font-size: 30px;
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 5px 5px 5px black;
  color: white;
}

#meme-image {
  position: absolute;
  z-index: 2;
}
